@charset "utf-8";

body {
    
}

#kontaktForm {
    width: 50%;
    margin: auto;
    
}

#kontaktForm fieldset {
    border-radius: 2px;
    border-color: black;
    
    background: #e0e0e0;
}

#kontaktForm textarea {
    width: 100%;
    min-height: 100px;
    
    box-sizing: border-box;

}

#kontaktForm label {
    width: 100px;
    display: inline-block;
}

#kontaktForm p {
    display: flex;
    flex-flow: column;
}

#kontaktForm input[type="text"] {
    color: red;
}

#kontaktForm textarea::placeholder {
    font-family: arial;
    text-align: center;
}

legend {
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: arial;
    
    margin: auto;
}