@charset "utf-8";

body {
    background-color: green
}

main {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: center;
    
    border: ;
    
    background-color: red;
    
    width: 80%;
    
    margin: auto;
}

section {
    border: 1px solid black;
}