body {
    background-color: white;
    margin: 0px;
}

.h2 {
    background: purple;
    padding: 15px;
}

label {
    margin: 0;
    padding: 0;
    font-weight: 800;
    font-family: arial;
    color: white;
}

/* Typografi */

h2 {
    font-family: arial;
    margin-left: 15px;
    font-weight: 100;
    font-size: 38px;
    color: #a508d4;
    
}

h3 {
    margin: 0px;
    margin-top: -5px;
    font-family: arial;
    text-transform: uppercase;
    color: white;
    padding: 10px;
   background: #a508d4; 
}

.footerbox h3 {
    padding: 0px 0px 10px 0px;
    background: none;
}


/*Layout och Struktur*/

.wrapper {
    width: 90%;
    max-width: 960px;
    min-height: 600px;
    background: white;
    
    /* Lägg wrappern i mittena v sidan */
    margin-right: auto;
    margin-left: auto;
    
}

header {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-color: ;
}

.logo {
    background-color: ;
    width: 40%;
}

.logo img {
    margin-left: 20px;
    width 100px;
    
}

@keyframes loleksde {
    0%  {margin-left: 100px;}
    30% {margin-left: 700px;}
    50% {margin-left: 700px; transform: rotate(180deg);}
    100%{margin-left: 100px;}
}

header .meny {
    align-self: center;
    margin: 0px;
    height: 50%;
    width: 60%;
}

.flygplan {
    margin-top: 100px;
    margin-left: 200px;
    width: 20%;
    animation: loleksde 5s infinite;
}

.imagesbar {
    background-size: 100%;
    background-image: url(../Images/himmel.png);
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.wrap {
    display: flex;
    justify-content: space-around;
}

.resmal {
    margin: 0px;
    width: 30%;
}

.resmal img {
    width: 100%;
}

.resmal_info {
    font-family: arial;
    font-size: 0.9em;
    line-height: 1.5;
}

.footer2 {
    padding-top: 130px;
    background-size: 100%;
    background-color: #802082;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-image: url(../Images/footer.gif);
}

.inner-footer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 960px;
    height: 300px;
}

.footerbox {
    font-family: arial;
    color: white;
    width: 30%;
    height: 300px;
}

.footerbox img {
    margin-right: 10px;
    transition: 0.2s;
}

.footerbox img:hover {
    transform: scale(1.2);
}
/* Meny */


nav li {
    margin: 0px 0px 0px 20px;
    display: flex;
}


nav a {
    margin-right: 10px;
    padding: 10px;
    background: white;
    font-weight: 1000;
    font-family: arial;
    font-size: 22px;
    color: #505050;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.2s;
}

nav .ul1 li a:hover {
    background-color: #a508d4;
    color: white;
}

.ul1 {
    align-items: center;
    margin: 0px;
    height: 50px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-left: 0px;
}