body {
   margin: 0; 
}

header {
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

nav {
    width: 500px;
    margin-top: 15px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0; 
}

li {
    list-style-type: none;
}

nav a {
    background-color: #c7c7c7;
    
    padding: 0px 20px;
    
    text-align: center;
    
    transition: 0.15s;
    
    border-radius: 2px;
    
    color: white;
    text-shadow: 1px 1.5px 0px black;
    font-family: arial;
    font-weight: 900;
    
}

a {
    text-decoration: none;
}

nav a:hover {
    background: #777777;
    
    text-shadow: -2px -1px 0px black;
}

.centerimg {
    
}

.logo {
    border-radius: 100%;
    box-sizing: border-box;
    border: 0px solid;
    
    margin-top: 20px;
    
    transition: 0.2s;
    
    height: 100px;
    width: 100px;
}

.logo:hover {
    border: 5px solid black;
}

.fakeImg {
    background-color: #dedede;
    
    border-bottom: 3px solid #d0d0d0;
    border-top: 3px solid #d0d0d0;
    
    display: flex;
    
    margin-top: 10px;
    
    height: 600px;
    
    justify-content: space-between;
    align-items: center;
}

#image {
}

#leftarrow {
    margin-left: 100px;
    
    height: 50px;
    width: 50px;
}

#rightarrow {
    margin-right: 100px;
    height: 50px;
    width: 50px;
}

#rightarrow:hover {
    
}

@keyframes fake {
    0%     {background-image: url(../images/layouts3/forWeb1.png);}
    8%     {background-image: url(../images/layouts3/forWeb1.png);}   
    16%    {background-image: url(../images/layouts3/forWeb2.png);}
    24%    {background-image: url(../images/layouts3/forWeb2.png);}
    32%    {background-image: url(../images/layouts3/forWeb3.png);}
    40%    {background-image: url(../images/layouts3/forWeb3.png);}
    48%    {background-image: url(../images/layouts3/forWeb4.png);}
    56%    {background-image: url(../images/layouts3/forWeb4.png);}
    64%    {background-image: url(../images/layouts3/forWeb5.png);}
    72%    {background-image: url(../images/layouts3/forWeb5.png);}
    80%    {background-image: url(../images/layouts3/forWeb6.png);}
    88%    {background-image: url(../images/layouts3/forWeb6.png);}
    100%   {background-image: url(../images/layouts3/forWeb1.png);}
}

#fakeImageSlider {
    display: flex;
    
    color: rgba(0, 0, 0, 50%);
    
    -webkit-text-stroke: 2px white;
    font-size: 80px;
    font-weight: 900;
    font-family: arial;
    
    justify-content: center;
    align-items: center;
    
    animation: fake 40s infinite ease-out ;
    height: 100%;
    width: 1400px;
}

#fakeImageSlider h1 {
    animation: ;
    text-align: center;
}

.over {
    display: flex;
    justify-content: space-between;
    
}

.under {
    display: flex;
    justify-content: space-between;
    
    margin-top: 50px;
}

.allotOfImages {
    width: 70%;
    margin: 50px auto 0px auto;
}

figure img {
    height: 200px;
    width: 200px;
    
    transition: 0.2s;
    
    box-sizing: border-box;
    border: 0px solid;
    box-shadow: 3px 3px 0px black;
    border-radius: 10px;
    
}

figure img:hover {
    box-shadow: 0px 0px 0px black;
    border-radius: 30px;
    border: 10px solid #797979;
}

figcaption {
    text-align: left;
    font-family: arial;
    
    margin-top: 10px;
    
    width: 200px;
}

figure h1 {
    text-align: center;
    margin: 0;
}

footer {
    display: flex;
    
    justify-content: space-around;
    align-items: ;
    
    background-color: #dedede;
    
    height: 220px;
    
    margin-top: 50px;;
    
    font-family: arial;
}

h3 {
    
}

footer a {
    font-size: 12px;
}

footer ul {
    display: flex;
    
    flex-flow: column;
    padding: 0;
}

footer img {
    transition: 0.25s;
}

footer img:hover {
    transform: scale(1.05);
}
