@charset "utf-8";

body {
    
}

header {
    display: flex;
    justify-content: space-between;
    
    margin-bottom: 15px;
}

nav {
    background-color: grey;
    
    margin-bottom: 15px;
    padding: 5px 0px;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style-type: none;
    
}

a {
    color: white;
    text-shadow: 1px 1px black;
    font-family: arial;
    text-decoration: none;
}

header .left {
    background: grey;
    
    width: 20%;
    height: 50px;
}

header .right {
    background: grey;
    
    width: 50%;
    height: 50px;
}

.mid1 {
    display: flex;
    flex-flow: row;
    
    margin-bottom: 15px;
}

.left {
    width: 33%;
}

.mid2 {
    width: 33%;
    margin-bottom: 15px;
}

.right {
    width: 33%;
}

.left, .right, .mid2 {
    margin-right: 15px;
}

.box1, .box2, .box3 {
    background: grey;
    
    margin-bottom: 15px;
    
    
}

.box1:nth-child(1) {
    height: 200px;
}

.box1:nth-child(2) {
    height: 240px;
}

.box1:nth-child(3) {
    margin-bottom: 0;
    height: 400px;
}

.box2:nth-child(1) {
    height: 80%;
}

.box2:nth-child(2) {
    margin-bottom: 0;
    height: 20%;
}

.box3:nth-child(1) {
    height: 25%;
}

.box3:nth-child(2) {
    height: 50%;
}

.box3:nth-child(3) {
    height: 25%;
}