@charset "utf-8";

body {
    
}

#login1 {
    width: 100%;
}

#login1 ul {
    display: flex;
    flex-flow: row;
    justify-content: ;
    align-items: center;
    
    margin-top: 0;
    margin-left: auto;
    
    width: 55%;
}

#login1 ul li {
    width: 100%;
    
    margin-left:;
}

#login1 ul section {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

#login1 ul section label {
    width: 60px;
    margin-right: 15px;
    
}

#login1 ul a {
    color: black;
}

#login1 ul a:hover, header a:hover {
    text-decoration: underline;
}

#belowLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 135px;
    width: 100%;
    max-height: 135px;
    
    
}

#belowLogin h1 {
    margin: 0;
    padding: 0;
}

#belowLoginLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: 3px solid black;
    
    height: 100%;
    width: 20%;
    
    background-color: rgba(255, 0, 0, 0.24);
}

#belowLoginMid {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0px 20px;
    
    border: 3px solid black;
    
    height: 100%;
    width: 65%;
    
    
}

#belowLoginMid h1 {
    font-size: 100px;
}

#belowLoginRight {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 3px solid black;
    
    height: 100%;
    width: 15%;
    
    text-align: center;
}

header { 
    display: flex;
    align-items: center;
    
    border: solid 3px;
    
    margin-top: 20px;
    
    height: 30px;
    background-color: rgba(255, 0, 0, 0.26);
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul section {
    margin-right: 20px;
}

header nav ul li {
    display: flex;
    align-content: center;
    align-items: center;
    
    margin: 0 100px 0 0;
}

header nav ul section input[type] {
    padding-left: 10px;
    width: ;
}

#login2 {
    padding-left: 10px;
    height: 15px;
}

#login22 {
    margin-right: ;
}

#belowLoginLeft img {
    height: 135px;
    width: 100%;
}

header nav ul section label {
    margin-right: 5px;
}

header nav ul a {
    color: black;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#left {
    display: flex;
    
    border: solid 3px black;
    
    width: 243.87px;
    height: 475px;
    
    margin-right: 20px;
    margin-left: 0px;
    
    padding: 0px;
}

#mid {
    border: solid 3px;
    
    width: 779.07px;
    height: 475px;
    
    margin-right: 20px;
}

#right {
    display: flex;
    flex-flow: column;
    
    width: 186.9px;
}

#right ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: solid 3px black;

    height: 141px;
    
    margin: 0px 0px 20px 0;
}

#right ul p {
    margin: 0;
    
    padding-left: 10px;  
    
    text-align: ;
}

#right img {
    border: solid 3px black;
    
    
}

#right #bestImg {
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    
    margin: 17px 0px;
    
    width: 100%;
    
}

#mid section p {
    width: 350px;
    
    margin-left: 20px;
}

#mid section h1 {
    margin-left: 20px;
}

#mid section figure {
    margin: 0;
    margin-left: 20px;
    margin-top: 23px;
}

#mid #textAndImg img {
    height: 235px;
}

#mid section figure figcaption {
    text-align: center;
}

#textAndImg {
    display: flex;
}

#manyImages {
    display: flex;
    justify-content: space-between;
    
    width: 90%;
    
    margin: auto;
    margin-top: 40px;
}

#manyImages img {
    border-radius: 10px;
    
    transition: 0.2s;
    
/*    margin-right: 10px;*/
}

#manyImages img:hover {
    border-radius: 0;
    
    transform: scale(2);
}

#manyImages #rightImage {
    margin: 0;
}

#arrows {
    display: flex;
    justify-content: space-between;
    
    width: 90%;
    
    margin: auto;
    margin-top: 10px;
}

#arrows img {
    height: 20px;
    
    transition: 0.2s;
}

#arrows img:hover {
    transform: scale(1.5);
}

#left ul {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
    width: 80%;
    height: 90%;
    
    margin: auto;
    margin-top: 20px;
}

#left ul p {
    width: 100%;
    margin: 0;
}

#lastFourImg {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
    height: 85%;
    
    margin: auto;
    margin-right: 20px;
}

#lastFourImg img {
    border-radius: 10px;
    
    transition: 0.2s;
}

#lastFourImg img:hover {
    border-radius: 0;
    
    transform: scale(1.5);
}