@charset "utf-8";

body {
   background-color: darkslategrey;
}

@font-face {
    font-family: myThirdFont;
    src: url(../fonts/comicbook.otf)
}

@font-face {
    font-family: mySecondFont;
    src: url(../fonts/GROBOLD.ttf);
    
}
@font-face {
    font-family: mySecondFont;
    src: url(../fonts/GROBOLD.ttf);
        
    font-family: myFirstFont;
    src: url(../fonts/AGENTORANGE.TTF);
}

ul {
    font-family: myThirdFont;
}

.ul1 li a:active {
    color: rebeccapurple;
}

.ul1 li a:link {
    color: white;
}

.ul1 li a:hover {
    color: rebeccapurple;
}

.ul2 li a:hover {
    background-color: brown;
    color: yellow;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    
}

a.apro {
    color: rebeccapurple;
    font-weight: bold;
}

li {
    list-style-type: none;
}

ul.ul1 {
    letter-spacing: 2px;
    font-family: mySecondFont;
    display: flex;
    justify-content: space-around;
    flex: 1;
    list-style: none;
    
}

.ul2 li {
    
}

.ul2 a {
    font-family: myThirdFont;
    display: block;
    color: aqua;
    text-align: ;
    padding: 10px;
    text-decoration: none;
    
}

ul.ul2 {
    list-style-type: none;
    background-color: green;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    display: block;
    justify-content: space-around;
    padding:10px ;
    overflow: hidden ;
    border: 3px solid black;
    
}


iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100;
    height: 100;
    border: 6px solid black;
    border: 5px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 2px 10px;
    margin-top: 40px;
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fig1 {
    text-align: center;
}

h1 {
    
    text-align: center;
    color: white;
    outline-color: aqua;
    font-family: myFirstFont;
    text-shadow: 3px 1px 1px black;
   
}

h3.h32 {
    color: white;
    font-family: myFirstFont;
    text-align: center;
    
    background-color: black;
    
    margin-right: 30px;
    margin-left: 30px;
    
    border: 3px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

header.header3 {

}

h3.headerh3 {
    
}

.header2 {
    white-space: pre-line;
}

.header1 {
    background-image: radial-gradient(#2F4F4F, #A9A9A9);
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div {
    background-color: white;
    width: 90%;
    margin: auto;
    
    border: 5px solid darkred;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.nextul {
    margin-left: auto;
    margin-right: auto;
}

ul.nextul2 {
    background-color: white;
    text-align: center;
}

figcaption {
    font-family: myThidFont;
    border: 2px solid black;
    margin-right: 0;
    margin-left: 0;
    background-color: white;
    margin-top: 20px;
}
