body {
    background-color: #1e272e;

    padding: 0;
    margin: 0;
}
header {
    display: flex;
    border-bottom: 5px solid #d2dae2;
    
    width: 100%;
    height: 50px;

    padding: 0;
    margin: 0;

    background-color: #f53b57 ;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;

    margin: auto;
    margin-top: 50px;

    width: 780px;

    padding-bottom: 5px;
    
    border-bottom: 5px solid white;
}

ul {
    display: flex;

    padding: 0;
    
    margin: 0;

    height: 100%;
}

li {
    display: flex;
    align-items: center;

    list-style-type: none;

    padding-right: 10px;
    padding-left: 10px;

    color: #d2dae2;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;

    background-color: #f53b57;
}

li:hover {
    background-color: #575fcf;
}

main {
    
}

img {
    position: relative;
}

.img3 {
    margin-left: 0px;
}

.imgSlider {
    display: flex;
    
    overflow-x: hidden;
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
    
    border-radius: 10px;
    width: 1000px;
    height: 500px;
}

.images {
    display: flex;

    width: 1000px;
    height: 500px;

    transition: all 0.5s ease-in-out;
}

.imgSliderBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    

    width: 1000px;
    height: 500px;
    
}

.btnNext {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.btnPrev {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.imgSliderBtns button {
    height: 100%;
    width: 60px;

    background: none;
    border: none;
    outline: none;

    transition: all 0.5s;
}

.imgSliderBtns button:hover {
    background-color: rgba(0, 0, 0, 0.322);
}

.fas {
    color: #d2dae2;
    font-size: 40px;
}

