body {
    background-color: #1e272e;

    padding: 0;
    margin: 0;
}
#links {
    display: flex;
    justify-content: space-between;
    position: fixed;

    border-bottom: 5px solid #d2dae2;
    width: 100%;
    height: 50px;
    top: 0;

    z-index: 1;

    padding: 0;
    margin: 0;

    background-color: #f53b57 ;
}

#cart {
    z-index: 1;

    position: fixed;
    
    height: 700px;
    width: 600px;

    margin-top: -350px;
    margin-left: -300px;

    top: 50%;
    left: 50%;

    border: 2px solid black;

    background-color: white;
}

.fa-times {
    position: absolute;

    padding: 20px;

    right: 0;
}
.fa-times:hover {
    background-color: teal;
}

#cartHeader {
    display: flex;
    position: relative;
    justify-content: space-around;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #d2dae2;

    margin: auto;
    margin-top: 50px;

    padding-bottom: 5px;
    
}

ul {
    display: flex;

    padding: 0;
    
    margin: 0;

    height: 100%;
}

li {
    display: flex;
    align-items: center;

    list-style-type: none;

    color: #d2dae2;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;

    background-color: #f53b57;
}

a {
    display: flex;
    align-items: center;
    
    padding-right: 20px;
    padding-left: 20px;

    font-family: 'Open Sans', sans-serif;
    color: #d2dae2;
    text-decoration: none;

    height: 100%;
    width: 100%;
}

h3 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #d2dae2;
    text-shadow: 0px 3px 0px black;

    margin: 0;
    margin-top: 20px;
}

.specifikations {
    padding: 10px 0px;
    /* margin-top: 30px; */

    font-family: 'Open Sans', sans-serif;

    border-right: none;
    border-left: none;
    border-bottom: none;
}

li:hover {
    background-color: #575fcf;
}

main {
    
}

.imgSlider img {
    position: relative;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-left: 30px;
    padding-right: 30px; */
    margin-top: 0;
    margin-bottom: 0;

    background-color: #ffdd59;
    
    border-left: 3px solid #d2dae2;
    border-right: 3px solid #d2dae2;

    height: 100%;
    width: 300px;

}

.backgroundColor {
    display: flex;
    justify-content: center;

    background-color: #f53b57;

    margin-top: 0;

    width: 100%;
    height: 300px;
}

.img3 {
    margin-left: 0px;
}

.imgSlider {
    display: flex;
    
    overflow-x: hidden;
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
    
    border-radius: 10px;
    width: 1000px;
    height: 500px;
}

.images {
    display: flex;

    width: 1000px;
    height: 500px;

    transition: all 0.5s ease-in-out;
}

.offers {
    display: flex;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 500px;

    margin-top: 50px;
    margin-bottom: 50px;
}

figure section {
    display: flex;
    justify-content: space-around;

    -webkit-text-stroke: 0.25px #1e272e;
    font-weight: bolder;
    font-size: 30px;
    color: #0be881;
    font-family: 'Open Sans', sans-serif;

    /* margin-top: 30px; */
}

figure img {
    transition: all 0.25s;

    height: 300px;
}
figure img:hover {
    transform: scale(1.1);
}

.imgSliderBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    
    width: 1000px;
    height: 500px;
    
}

#home {
    background-color: #575fcf;
}

.btnNext {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.btnPrev {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.imgSliderBtns button {
    height: 100%;
    width: 60px;

    background: none;
    border: none;
    outline: none;

    transition: all 0.5s;
}

.imgSliderBtns button:hover {
    background-color: rgba(0, 0, 0, 0.322);
}

.fa-arrow-left, .fa-arrow-right {
    color: #d2dae2;
    font-size: 40px;
}

.fa-shopping-cart, .fa-user, .fa-comment {
    margin-right: 10px;
}

