@charset "utf-8";

body {
<<<<<<< HEAD
    background: url("../images/blogg/bloggbackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 154px;
=======
    background-image: url(../images/blogg/bloggbackground.jpg);
>>>>>>> 743bd92ff51211c75606d030cb75956fc4a1d939
    
    margin: 0;
    padding: 0;
    
    min-height: 2000px;
}


header {
    background: rgb(0, 0, 0, 40%);
    
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

article {
    background-color: red;
    
    margin: auto;
    
<<<<<<< HEAD
    width: 65%;
    height: 400px;
    
    border: 3px solid white;
    border-radius: 50px;
=======
    width: 60%;
}

.date {
    margin: 50px auto 30px auto;
    
    width: 60%;
    
    color: #117151;
    
    text-shadow: 0px 3px 0px black;
    font-family: arial;
    font-weight: 1000
>>>>>>> 743bd92ff51211c75606d030cb75956fc4a1d939
}

ul {
    display: flex;
    
    margin: auto 200px;
    
    justify-content: space-around;
    align-items: center;
    
    list-style-type: none;
}


.hh1 {
    background: -webkit-linear-gradient(right, black 30%, grey 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    
    -webkit-text-stroke: 0.3px white;
    text-shadow: 0px 10px 20px;
    letter-spacing: 15px;
    font-family: arial;
    font-size: 50px;
    text-align: center;
}

.hh3 {
    background: -webkit-linear-gradient(left, black 50%, transparent 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    -webkit-text-stroke: 0.2px white;
    letter-spacing: 10px;
    font-weight: 1000;
    font-family: arial;
    font-size: 30px;
    text-align: center;
    
    margin: 0;
    padding: 13px;
}

<<<<<<< HEAD
.s1 {
    background: url("../images/blogg/bloggbackground2.jpg");
    padding-bottom: 30px;
}

.s2 {
    background: url("../images/blogg/bloggground3.jpg");
    padding-bottom: 30px;
}

.contact {
    background-image: url("../images/blogg/bloggbackground4.jpg");
    height: 300px;
    display: flex;
    flex-direction: column;
    
}

.ah3 {
    color: white;
    
    margin: 0px auto 30px auto;
    padding-top: 30px;
    
    width: 65%;
    
    font-family: arial;
=======
.firsta {
    background: red;
    
    height: 600px;
    
    border-radius: 50px;
>>>>>>> 743bd92ff51211c75606d030cb75956fc4a1d939
}