@charset "utf-8";

body {
    background-image: url(../images/kontaktformular/kontaktformularbackground2.png);
    background-size: 1920px 1080px;
    
    margin: 0;
    padding: 0;
}

img {
    margin: auto;
    margin-bottom: 20px;
    
    width: 90px;
    height: 90px;
}

ul {
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

p {
    text-align: center;
}

h1, h3 {
    text-align: center;
}

textarea {
    
    font-family: arial;
    font-weight: 700;
}

input[type=text] {
    color: white;
    
    transition: 0.5s;
    
    background: rgba(255, 255, 255, 0.1);
    
    padding: 15px;
    
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    
    font-weight: 700;
    font-family: arial;
    outline: none;
    
    border-radius: 3px;
}

input[type=text]:focus {
    border: none;
    border: 2px solid rgba(0, 0, 0, 1);
}

::placeholder {
    font-family: arial;
    
    -webkit-text-stroke: 0px;
    
    text-shadow: 2px 0px 0px black;
    font-weight: ;
    opacity: 1;
    color: white;
}

textarea::placeholder {
    font-weight: 700;
}

.maincontent {
    display: flex;
    
    width: 50%;
    
    margin: 30vh auto 30vh auto;
    
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-direction: column;
    
    margin: 30px 0px;
    
    justify-content: space-around;
}

.grid {
    display: grid;
    
    width: 70%;
    
    grid-column-gap: 10px;
    grid-template-areas: 
        "abc abc"
        "def def"
        "e f"
        "gg gg"
        "gg gg"
        "ii ii";
}

.nr {
    color: white;
    
    font-family: arial;
    font-weight: 1000;
    text-shadow: 2px 0px 0px black;
    
    margin: 0;
}

.vanlig {
    color: #a2a2a2;
    
    font-family: arial;
    font-size: 14.5px;
        
    margin: 0;
}

.grid-item:nth-child(1) {
    color: white;
    
    margin: 0;
    
    font-size: 60px;
    font-family: arial;
    
    grid-area: abc;
}

.grid-item:nth-child(2) {
    color: #c4c4c4;
    
    margin-bottom: 30px;
    
    font-family: arial;
    font-size: 13px;
    
    grid-area: def;
}

.grid-item:nth-child(3) {
    grid-area: e;
}

.grid-item:nth-child(4) {
    
    grid-area: f;
}

.grid-item:nth-child(5) {
    background: rgba(255, 255, 255, 0.1);
    
    margin: 20px 0px 10px 0px;
    
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    outline: none;
    
    padding: 10px;
    
    transition: 0.5s;
    
    height: 190px;
    
    grid-area: gg;
}

.grid-item:nth-child(5):focus {
    border: 2px solid rgba(0, 0, 0, 1);
}

.grid-item:nth-child(6) {
    background-color: rgba(255, 255, 255, 0);
    
    color: white;
    
    padding: 5px;
    
    font-weight: 900;
    font-family: arial;
    text-align: center;
    
    border-radius: 3px;
    border: 3px solid #521d1d;
    
    outline: none;
    
    transition: 0.2s;
    
    grid-area: ii;
}

.grid-item:hover:nth-child(6) {
    background: rgba(255, 255, 255, 0.38);
}

.grid-item:focus:nth-child(6) {
    border: 3px solid #ff0000;
}